html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Lato;
    font-weight: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(73, 88, 94, 1);  */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(73, 88, 94, 1);
}

/* select css */

.custom-select-container {
    position: relative;
    background-color: #49585e;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}

.custom-select-container .arrow-down {
    position: absolute;
    color: #fff;
    right: 10px;
    top: 8px;
    z-index: 1;
}

.custom-select {
    width: 100%;
    background-color: #49585e;
    font-size: 16px;
    height: 32px;
    color: #fff;
    border: none;
    padding: 0 10px;
    font-weight: 300;
    position: relative;
    z-index: 1;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.minus-sign {
    width: 17px;
    display: block;
    height: 2px;
    background: #6f7578;
    border-radius: 5px;
    position: relative;
    top: -2px;
}

.minus-sign::before {
    position: absolute;
    top: -8px;
    height: 16px;
    background: transparent;
    content: "";
    right: 0;
    width: 100%;
}

.minus-sign.plus::after {
    position: absolute;
    top: -7px;
    height: 16px;
    background: #6f7578;
    content: "";
    right: 7px;
    width: 2px;
}

/* checkbox-css */

.check-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-bottom: 0;
    font-size: 16px;
    color: #ffffff;
}

.check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #b8b8b8;
}

.check-box:hover input~.checkmark {
    background-color: transparent;
}

.check-box input:checked~.checkmark {
    background-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-box input:checked~.checkmark:after {
    display: block;
}

.check-box .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #49585e;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

ul.list-style-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* page css */

.main-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle {
    width: 700px;
    height: 622px;
    border-radius: 12px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: #263238;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* reactanble header */

.rectangle-header {
    width: 100%;
    height: 50px;
    flex: 0 0 50px;
    background-color: #49585e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px 0 21px;
}

.rectangle-header .header-title {
    /* font-family: Lato; */
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0;
}

.warning-ractangle {
    width: 360px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.warning-body {
    text-align: center;
    padding: 42px 10px 0;
    flex: 1;
    position: relative;
}

.close-warning {
    position: absolute;
    right: 18px;
    top: 18px;
    cursor: pointer;
}

.caution-circle {
    width: 76px;
    height: 76px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 21px;
    border-radius: 50%;
}

.caution-circle h4 {
    margin: 0;
}

.warning-body h4 {
    color: #2c2c2c;
    font-size: 17px;
    font-weight: 800;
    margin: 0 0 9px;
}

.warning-body p {
    color: #5b5b5b;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.warning-footer {
    height: 64px;
    background-color: #eeeeee;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.warning-footer .btn {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.warning-footer .btn {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.warning-footer .btn-yes {
    width: 112px;
    height: 42px;
    border-radius: 25.5px;
    background-color: #0091ff;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-left: 42px;
}

/* inner body */

.rectangle-body {
    flex: 1;
    display: flex;
    height: calc(100% - 114px);
}

.inner-body-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle-right-menu {
    flex: 0 0 260px;
    border-left: 1px solid #454c50;
    height: 100%;
}

.inner-rectangle-menu {
    height: 100%;
}

.tabcontent {
    height: calc(100% - 54px);
    overflow: auto;
}

.top-menu {
    padding: 0;
    margin: 9px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.top-menu li {
    border-bottom: 1px solid #37474f;
}

.top-menu li.active {
    border-bottom: 2px solid #fff;
}

.top-menu .link {
    width: 87px;
    height: 30px;
    color: #b8b8b8;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    font-weight: normal;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

.top-menu li.active .link {
    color: #ffffff;
    font-weight: bold;
}

.menu-rectangle {
    padding: 12px 14px 0 19px;
    width: 255px;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-header.border-bottom {
    border-bottom: 1px solid #454c50;
}

.menu-title {
    /* font-family: Lato; */
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 12px;
}

.menu-body {
    border-bottom: 1px solid #454c50;
    padding-bottom: 16px;
}

.font-second-box {
    display: flex;
    margin-bottom: 3px;
}

.font-size-selectBox {
    width: 72px;
    flex: 0 0 72px;
    margin-left: 10px;
}

.font-third-row {
    margin-bottom: 14px;
}

.font-third-row ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.font-third-row ul li{
    cursor: pointer;
}

.font-fourth-row {
    display: flex;
}

.input-container {
    margin-right: 16px;
}

.input-container .input-bottom-text {
    color: #b8b8b8;
    font-size: 12px;
    font-weight: normal;
    display: flex;
    margin-top: 4px;
}

.input-container .inner-input {
    width: 100%;
    position: relative;
    width: 62px;
    height: 24px;
    border-radius: 4px;
    background-color: #49585e;
    overflow: hidden;
}

.input-container .inner-input input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    padding: 6px 5px;
}

.input-container .inner-input .px-text {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #b8b8b8;
    font-size: 12px;
    font-weight: normal;
    line-height: 0;
    letter-spacing: 1px;
}

/* ------------------ */

.fill-first-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

.fill-first-row .check-box {
    padding-left: 21px;
    margin-right: 10px;
    top: 2px;
}

.fill-first-row .color-box {
    margin-right: 10px;
}

.fill-first-row .input-container {
    margin-right: 10px;
}

.fill-first-row .input-container .inner-input.percent-value {
    width: 50px;
}

.circle-gradient {
    width: 23px;
    height: 23px;
    border: 2px solid #ffffff;
    background-image: linear-gradient(to right, #ffffff 23%, #000000 60%);
    border-radius: 50%;
}

.file-upload-container {
    width: 101px;
    height: 28px;
    border-radius: 16.5px;
    background-color: #707f84;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.file-upload-container span {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.57;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.file-upload-container input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.fill-first-row .input-container .inner-input.border-value {
    width: 31px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.dropdown-container .arrow-down {
    margin-left: 8px;
    color: #6d7278;
    font-size: 18px;
}

.dropdown-item {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    position: absolute;
    top: 20px;
    background: #5e686d;
    width: 100%;
    padding: 0;
    z-index: 9;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.dropdown-item li{
    padding: 5px 10px;
}
.dropdown-item li a{
    color: #fff;
}

.dropdown-container:hover .dropdown-item{
    max-height: initial;
    /* padding: 5px; */
}
/* rectangle footer */

.rectangle-footer {
    width: 100%;
    height: 64px;
    flex: 0 0 64px;
    background-color: #49585e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px 0 30px;
}

.footer-text {
    /* font-family: Lato; */
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.apply-btn {
    width: 112px;
    height: 42px;
    border-radius: 25.5px;
    background-color: #e011ac;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}