.text-setting-container {
    width: 377px;
    height: 496px;
  }
  .text-setting-container .rectangle-header {
    padding: 0 15px 0 20px;
  }
  .text-setting-container .rectangle-header .header-title{
    display: flex;
  }
  .text-setting-container .rectangle-header .header-title .arrow-down-sign {
    margin-left: 6px;
    display: flex;
    align-items: center;
  }
  
  .text-setting-container .left-menu-content {
    padding: 20px 13px;
    flex: 0 0 114px;
  }
  .text-setting-container .left-menu-content ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .text-setting-container .left-menu-content ul li {
    margin-bottom: 19px;
    cursor: pointer;
  }
  .text-setting-container .left-menu-content ul li label {
    font-family: Lato;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 21px;
    letter-spacing: normal;
    color: #6d7278;
    cursor: pointer;
  }
  .text-setting-container .left-menu-content ul li.active label {
    color: #ffffff;
    font-weight: 600;
  }
  
  .text-setting-container .right-menu-content {
    flex: 1;
    border-left: 1px solid #454c50;
    padding: 19px 16px 65px;
    position: relative;
  }

  .text-setting-container .right-menu-content .content-header{
    margin-bottom: 20px;
  }
  .text-setting-container .right-menu-content .content-header .title {
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0px 0px 7px;
  }
  .text-setting-container .right-menu-content .content-header .sub-text {
    font-family: Lato;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #707f84;
    margin: 0px;
  }
  .text-setting-container .right-menu-content .content-body .form-group .form-label {
      font-family: Lato;
      font-size: 13px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #707f84;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
  }
  .text-setting-container .right-menu-content .content-body .form-group .form-label .info-sign{
    margin-left: 4px;
    display: flex;
  }
  .text-setting-container .right-menu-content .content-body .form-group .custom-textarea{
      width: 220px;
      height: 72px;
      border-radius: 4px;
      background-color: #fafafa;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #263238;
      padding: 6px 7px 6px 10px;
      outline: none;
      border: none;
  }
  
  .toggle-with-setting{
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .toggle-with-setting .toggle-switch{
      display: flex;
      align-items: center;
  }
  .toggle-with-setting .toggle-switch p{
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      margin: 0px;
      margin-left: 10px;
  }
  .toggle-with-setting .setting-sign{
      display: flex;
  }
  
  #Content .form-label{
    margin-bottom: 4px;
  }
  #Interactivity .form-group{
      margin-top: 20px;
  }
  #Interactivity .tabbing-container ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
      border-radius: 6px;
      background-color: #707f84;
      overflow: hidden;
      display: flex;
      max-width: 132px;
  }
  #Interactivity .tabbing-container ul li{
      width: 44px;
      height: 21px;
      font-family: Lato;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 14px;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      background-color: #707f84;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  #Interactivity .tabbing-container ul li:nth-child(2){
      border-right: solid 1px #49585e;
  }
  #Interactivity .tabbing-container ul li.active{
      background-color: #ffffff;
  }
  #Interactivity .tabbing-container ul li.active label{
      font-family: Lato;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #e011ac;
  }
  #Interactivity .custom-select{
    border-radius: 4px;
  }
  
.custom-input{
  position: relative;
  margin: 16px 0px;
  width: 220px;
 }
 .custom-input input{
   width: 220px;
   height: 32px;
   border-radius: 4px;
   background-color: #fafafa;
   font-family: Lato;
   font-size: 16px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #263238;
   outline: none;
   border: none;
   padding: 6px 25px 6px 10px;
 }
 .custom-input .close-sign{
   position: absolute;
   right: 5px;
   top: 50%;
   transform: translateY(-50%);
   display: flex;
 }
 
 .custom-select-box{
   width: 220px;
 }
  
  
  .footer-btn{
    position: absolute;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer-btn .btn{
    width: 222px;
    height: 33px;
    border-radius: 16.5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.27);
    background-color: #e011ac;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;
    border: none;
  }
  
  .label-with-setting{
    font-family: Lato;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .label-with-setting .label-setting{
    font-family: Lato;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .label-with-setting .sub-label{
    width: 100%;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d7278;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  #Salesforce .form-group{
    margin-bottom: 21px;
  }
  
  #Conditions .label-with-setting{
    margin-bottom: 12px;
  }

  .gray-input {
    width: 220px;
  }
  .gray-input input{
    width: 100%;
    height: 32px;
    border-radius: 4px;
    background-color: #707f84;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b8b8b8;
    padding: 6px 10px;
    outline: none;
    border: none;
  }
  .gray-input input::placeholder{
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b8b8b8;
  }

  .white-input input{
    background-color: #ffffff;
  }
  
  #Metadata .form-group{
   margin-bottom: 16px;
  }
  #Metadata .form-group .form-label{
   margin-bottom: 5px;
  }
  #Metadata textarea{
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b8b8b8;
  }
  #Metadata .custom-select{
    border-radius: 4px;
  }
  .switch {
      position: relative;
      display: inline-block;
      width: 31px;
      height: 17px;
      border-radius: 9.5px;
      background-color: #6d7278;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #6d7278;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      /* left: 4px; */
      top: -1.5px;
      -webkit-transition: .4s;
      transition: .4s;
      width: 20px;
      height: 20px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
    }
    
    input:checked + .slider {
      background-color: #e011ac;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #e011ac;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(12px);
      -ms-transform: translateX(12px);
      transform: translateX(12px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }

    